.nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  padding: 1.5rem 1rem 1rem;
  &__image_container {
    padding: 0.2rem 0.4rem;
  }
  &__logo {
    height: 4rem;
    display: inline-block;
    pointer-events: none;
  }
  &__button_containerLeft {
    margin-right: auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  &__button_containerMiddle {
    width: 51.33%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgray;
    border-radius: 5px;
    .nav__search_bar {
      height: 100%;
      flex-grow: 1;
      border: 0;
      font-size: 2.4rem;
      padding-left: 2rem;
    }
    .nav__icon_container {
      padding: 0.5rem 1rem;
      cursor: pointer;
      &:hover {
        background: #ededed;
      }
      img {
        pointer-events: none;
      }
    }
  }
  &__button_containerRight {
    display: flex;
    align-items: center;
    margin-left: auto;
    *:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  .nav {
    &__button_containerMiddle {
      width: 40%;
      .nav__search_bar {
        font-size: 1.8rem;
        padding-left: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    position: sticky;
    top: 0px;
    background: white;
    &__button_containerMiddle {
      margin: 0;
      margin-left: auto;
      width: 51.33%;
      .nav__search_bar {
        font-size: 1.4rem;
        padding-left: 1rem;
      }
      .nav__icon_container {
        padding: 0.5rem 1rem;
        cursor: pointer;
        &:hover {
          background: #ededed;
        }
        img {
          pointer-events: none;
          height: 2.4rem;
        }
      }
    }
    &__button_containerRight {
      display: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  .nav {
    &__button_containerMiddle {
      display: none;
    }
    &__button_containerRight {
      display: none;
    }
    &__button_containerLeft {
      margin-right: 1rem;
      margin-left: auto;
    }
  }
}
